@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight-webfont.woff2") format("woff2");
	font-weight: lighter;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	background-color: #fff;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000;
}

img {
	max-width: 100%;
}

.user-data input,
.user-data textarea {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(242, 242, 242, 0.5);
	border: 3px solid transparent;
}

.user-data input:hover,
.user-data textarea:hover {
	background-color: rgba(234, 234, 234, 0.8);
}

.user-data input:hover::-webkit-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.user-data input:hover:-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.user-data input:hover::-ms-input-placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.user-data input:hover::placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.user-data input:focus,
.user-data textarea:focus {
	color: rgb(70, 70, 70);
	background-color: #fff;
	border: 3px solid rgba(240, 197, 46, 0.5);
}

.user-data input:invalid,
.user-data textarea:invalid {
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(237, 181, 181, 0.5);
}

.search-form input {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.3);
	border: 2px solid transparent;
	background-color: rgba(0, 0, 0, 0);
	padding: 0;
	padding-top: 5px;
	padding-left: 40px;
	width: 100%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.search-form {
	position: relative;
}

.search-form input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus {
	color: rgb(0, 0, 0);
	border-bottom: 2px solid black;
}

.search-field:focus + .search-btn {
	display: inline-block;
	vertical-align: top;
}

.header-top a:hover,
.footer-logo:hover,
.main-menu a:hover,
.footer-navigation a:hover,
.sub-menu a:hover {
	opacity: 0.6;
}

.header-top a:active,
.popular-item p:active,
.footer-logo:active,
.main-menu a:active,
.footer-login-compare a:active,
.footer-navigation a:active,
.sub-menu a:active {
	opacity: 0.3;
}

.header-top-inner a,
.header-top-navigation a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	text-transform: none;
}

.header-top-inner ul {
	margin: 0;
	padding: 0;
}

.sub-menu a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
}

.sub-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1160px;
	z-index: 4;
	left: -57px;
	position: absolute;
	background-color: #f7e296;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.sub-menu li {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.sub-menu li:nth-child(1),
.sub-menu li:nth-child(4),
.sub-menu li:nth-child(6) {
	-ms-flex-preferred-size: 235px;
		flex-basis: 235px;
}

.sub-menu li:nth-child(2),
.sub-menu li:nth-child(3) {
	-ms-flex-preferred-size: 200px;
		flex-basis: 200px;
}

.sub-menu li:nth-child(5) {
	-ms-flex-preferred-size: 400px;
		flex-basis: 400px;
}

.header-top ul,
.popular ul,
.services-slider ul,
.logotypes ul,
.main-footer ul,
.inner-page ul {
	list-style: none;
}

.header-logo a {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #000;
}

.header-logo {
	margin: 0;
	padding: 0;
	padding-top: 16px;
}

.inner-logo a {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #000;
}

.inner-logo {
	margin: 0;
	padding: 0;
	padding-bottom: 16px;
	padding-top: 3px;
}

.search-btn {
	border: 2px solid #000;
	background-color: rgb(247, 226, 150);
	display: none;
	position: absolute;
	top: -15px;
	left: 362px;
	padding: 12px 19px 10px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.search-btn:hover {
	background-color: #000;
	color: #fff;
	display: inline-block;
	vertical-align: top;
}

.search-btn:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);
}

.slider-item h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 56px;
	color: #000;
	margin: 0;
	z-index: 2;
}

.product-properties {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: lighter;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0;
}

.stick-properties:first-child,
.bracelet-properties:first-child {
	width: 95px;
}

.stick-properties:nth-child(2) {
	width: 85px;
}

.stick-properties:last-child,
.bracelet-properties:last-child {
	width: 122px;
}

.quadrupter-properties:first-child {
	width: 155px;
}

.quadrupter-properties:last-child {
	width: 150px;
}

.product-description {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0;
	padding-top: 3px;
	padding-left: 3px;
}

.popular-items a {
	text-transform: none;
	letter-spacing: 0;
}

.slide1 .product {
	width: 510px;
	padding: 0;
	padding-top: 45px;
}

.slide2 .product {
	width: 510px;
	padding: 0;
	padding-top: 45px;
}

.btn,
.slider-item-description a,
.about-us a,
.js-write-us {
	font-size: 18px;
	line-height: 24px;
	border: none;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 10px 0;
	letter-spacing: 4px;
	width: 160px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.slider-item-description a {
	width: 220px;
	padding: 10px 43px 10px 44px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.btn::before,
.slider-item-description a::before,
.js-write-us::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 0;
	right: 0;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
}

.about-us a::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 0;
	right: 2px;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
}

.feedback-btn {
	font-size: 18px;
	line-height: 24px;
	border: none;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 10px 0;
	letter-spacing: 4px;
	width: 160px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.feedback-btn::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
}

.btn:hover,
.feedback-btn:hover,
.slider-item-description a:hover,
.about-us a:hover,
.js-write-us:hover {
	font-size: 18px;
	border: none;
	color: #000;
	background-color: rgb(240, 197, 46);
	text-transform: uppercase;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.btn:active,
.feedback-btn:active,
.slider-item-description a:active,
.about-us a:active,
.js-write-us:active {
	font-size: 18px;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	background-color: rgb(240, 197, 46);
	text-transform: uppercase;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.about-list {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: 0;
}

.service-btn:active,
.active,
.active:hover,
.active:active {
	border: none;
	color: #f7e184;
	background-color: #000;
	text-transform: uppercase;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	width: 280px;
	padding-right: 115px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.services-slider-list li:first-child {
	padding-top: 6px;
	margin-bottom: 20px;
}

.services-slider-list li:nth-child(2) {
	margin-bottom: 20px;
}

.btn:hover::before,
.slider-item-description a:hover::before,
.about-us a:hover::before,
.js-write-us:hover::before,
.btn:active::before,
.slider-item-description a:active::before,
.about-us a:active::before,
.js-write-us:active::before,
.service-btn:active::before,
.service-btn:active::before,
.active::before {
	content: none;
}

.services-slider {
	min-height: 288px;
	margin-bottom: 96px;
	background-color: #e5e5e5;
}

.services-slider-item h2,
.contacts-block h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 48px;
	color: #000;
	margin-bottom: 30px;
}

.services-slider-item h2 {
	margin: 0;
	padding-top: 73px;
	padding-bottom: 15px;
}

.services-slider-item p {
	letter-spacing: 0;
}

.logo-list img {
	opacity: 0.2;
	width: 260px;
	height: 100px;
}

.dji:hover {
	background-image: url("../img/logo-1-c.png");
	background-repeat: no-repeat;
}

.sp:hover {
	background-image: url("../img/logo-2-c.png");
	background-repeat: no-repeat;
}

.gp:hover {
	background-image: url("../img/logo-3-c.png");
	background-repeat: no-repeat;
}

.vive:hover {
	background-image: url("../img/logo-4-c.png");
	background-repeat: no-repeat;
}

.main-footer {
	padding-top: 38px;
	background-color: #464646;
}

.footer-logo {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #ffc600;
	-ms-flex-preferred-size: 180px;
		flex-basis: 180px;
}

.footer-login-compare a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	letter-spacing: 0;
}

.footer-login-compare a:hover {
	color: rgba(255, 255, 255, 1);
}

.paragraph,
.paragraph a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	text-transform: none;
	letter-spacing: 0;
}

.footer-navigation a {
	color: #fff;
	letter-spacing: 4px;
}

.map-popup {
	width: 960px; 
	height: 559px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 4, 6, 0.2);
			box-shadow: 0 10px 20px 0 rgba(0, 4, 6, 0.2);
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	z-index: 30;
	background-image: url("../img/map-big.jpg");
	background-repeat: none;
	background-position: 0 0;
}

.inner-page h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 48px;
	color: #000;
}

.breadcrumbs a{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: none;
	letter-spacing: 0;
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.filters fieldset {
	border: none;
	color: #000;
}

.monopod-item-filter h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
}

.filters legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #000;
}

.filter-item label {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	color: #000;
}

.filter-input:disabled + label {
	color: #a6a6a6;
}

.sorting-item a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
}

.sorting-btn {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.sorting-btn:active,
.catalog-item-compare:hover {
	color: #000;
}

.catalog-item-compare {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: none;
}

.catalog-item-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.catalog-item img {
	background-color: #efefef;
	width: 360px;
	height: 380px;
}

.card-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 360px;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.card-price a {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
}

.card-price b {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
	letter-spacing: 0;
}

.card-new {
	position: relative;
}

.card-new::before {
	content: "";
	position: absolute;
	width: 55px;
	height: 55px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	top: 27px;
	right: 27px;
}

.card-new::after {
	content: "New";
	position: absolute;
	width: 31px;
	height: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.2);
	top: 45px;
	right: 42px;
}

.description {
	-ms-flex-preferred-size: 260px;
		flex-basis: 260px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.catalog-item-price {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.paginator-item a,
.paginator-item {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

.paginator-list {
	background-color: rgba(235, 235, 235, 0.8);
}

.paginator-item-next:hover,
.paginator-item-prev:hover {
	color: #000;
	background-color: rgba(217, 217, 217, 0.8);
}

.paginator-item-next:active,
.paginator-item-prev:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(217, 217, 217, 0.8);
}

.sorting-btn-option,
.sorting-item-option a,
.paginator-item-page a {
	color: rgba(0, 0, 0, 0.3);
}

.sorting-btn-option:hover,
.sorting-item-option a:hover,
.paginator-item-page a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-btn-current,
.sorting-btn-current:hover,
.sorting-btn-current:active,
.sorting-btn-option:active,
.sorting-item-current a,
.sorting-item-current a:hover,
.sorting-item-current a:active,
.sorting-item-option a:active,
.paginator-item-current a,
.paginator-item-current a:hover,
.paginator-item-current a:active,
.paginator-item-page a:active {
	color: #000;
}

.feedback {
	width: 960px;
	height: 553px;
	background-color: #fff;
	-webkit-box-shadow: -40px 0 40px -50px rgba(2, 4, 6, 0.2),
				40px 0 40px -50px rgba(2, 4, 6, 0.2),
				0 8px 20px 2px rgba(2, 4, 6, 0.2);
			box-shadow: -40px 0 40px -50px rgba(2, 4, 6, 0.2),
				40px 0 40px -50px rgba(2, 4, 6, 0.2),
				0 8px 20px 2px rgba(2, 4, 6, 0.2);
	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	display: none;
}

.user-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-ms-flex-preferred-size: 760px;
		flex-basis: 760px;
	padding: 90px 100px 0;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	letter-spacing: 0;
}

.feedback-input:first-child,
.feedback-input:nth-child(2) {
	-ms-flex-preferred-size: 360px;
		flex-basis: 360px;
	padding: 0;
	margin: 0;
}

.feedback-input input {
	width: 100%;
	padding: 15px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	margin-bottom: 0;
}

.feedback-input input:first-child {
	padding-left: 10px;
}

.feedback-input input:last-child {
	padding-left: 16px;
}

.feedback-area {
	-ms-flex-preferred-size: 760px;
		flex-basis: 760px;
	margin-bottom: 20px;
}

.feedback-area textarea {
	width: 100%;
	padding: 16px 15px;
	min-height: 156px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.feedback-input label,
.feedback-area label {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	padding-bottom: 9px;
}

.feedback-btn {
	-ms-flex-preferred-size: 200px;
		flex-basis: 200px;
	padding: 0 35px 0 36px;
	margin-bottom: 80px;
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.popular ul {
	margin: 0;
	padding: 0;
}

.popular {
	margin-top: -18px;
	margin-bottom: 160px;
}

.popular-img {
	width: 160px;
	height: 145px;
	margin-top: -7px;
	background-color: #f7e296;
}

.popular-img:hover {
	background-color: #f0c52e;
}

.popular-img:active {
	background-color: #f0c52e;
}

.popular-item p {
	padding-top: 16px;
	letter-spacing: 0;
}

/*  */

.header-top {
	margin: 0;
	padding: 0 60px 0 57px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11.75%, #fff), color-stop(11.75%, #f7e296), color-stop(88.25%, #f7e296), color-stop(88.25%, #f7e296));
	background: -webkit-linear-gradient(top, #fff 11.75%, #f7e296 11.75%, #f7e296 88.25%, #f7e296 88.25%);
	background: -o-linear-gradient(top, #fff 11.75%, #f7e296 11.75%, #f7e296 88.25%, #f7e296 88.25%);
	background: linear-gradient(to bottom, #fff 11.75%, #f7e296 11.75%, #f7e296 88.25%, #f7e296 88.25%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-ms-flex-line-pack: distribute;
		align-content: space-around;
}

.header-top-navigation ul {
	margin: 0;
	padding: 0;
}

.header-top-navigation {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 18px;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.header-top-inner {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.search-form {
	-ms-flex-preferred-size: 43%;
		flex-basis: 43%;
}

.header-login-compare {
	-ms-flex-preferred-size: 500px;
		flex-basis: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: flex-start;
	letter-spacing: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.header-login-inner {
	-ms-flex-preferred-size: 500px;
		flex-basis: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: flex-start;
	letter-spacing: 0;
}

.header-login-inner li:first-child {
	-ms-flex-preferred-size: 180px;
		flex-basis: 180px;
	padding-left: 27px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
}

.header-login-inner li:nth-child(2) {
	-ms-flex-preferred-size: 10px;
		flex-basis: 100px;
	opacity: 0.3;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.header-login-inner li:nth-child(3) {
	-ms-flex-preferred-size: 120px;
		flex-basis: 120px;
	padding-left: 27px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
}

.header-login-inner li:last-child {
	-ms-flex-preferred-size: 100px;
		flex-basis: 100px;
	padding-left: 40px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
}

.header-login-compare li:first-child {
	-ms-flex-preferred-size: 280px;
		flex-basis: 280px;
	padding-left: 27px;
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.header-login-compare li:nth-child(2) {
	-ms-flex-preferred-size: 120px;
		flex-basis: 120px;
	padding-left: 27px;
	padding-right: 24px;
	margin: 0;
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.header-login-compare li:last-child {
	-ms-flex-preferred-size: 100px;
		flex-basis: 100px;
	padding-left: 40px;
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.header-main-menu ul {
	margin: 0;
	padding: 0;
}

.header-main-menu {
	padding-bottom: 157px;
}

.inner-menu {
	padding-bottom: 45px;
}

.main-menu ul {
	margin: 0;
	padding: 18px 400px 33px 64px;
	display: none;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.catalog-sub-menu:hover .sub-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-menu {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: flex-start;
	-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	position: relative;
	letter-spacing: 4px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.main-menu > li:first-child {
	-ms-flex-preferred-size: 300px;
		flex-basis: 300px;
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.main-menu > li:first-child::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 3px;
	background-color: #b8a974;
	top: 14px;
	right: 50px;
}

.main-menu > li:first-child::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 3px;
	background-color: #b8a974;
	-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
			transform: rotate(90deg);
	top: 14px;
	right: 50px;
	z-index: 1;
}

.main-menu > li:nth-child(2) {
	-ms-flex-preferred-size: 160px;
		flex-basis: 160px;
	margin-left: 245px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.main-menu > li:nth-child(3) {
	-ms-flex-preferred-size: 120px;
		flex-basis: 120px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	letter-spacing: 3px;
}

.main-menu > li:last-child {
	-ms-flex-preferred-size: 120px;
		flex-basis: 120px;
	margin-left: 98px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	letter-spacing: 3px;
	padding-left: 2px;
}

.slider {
	padding-bottom: 0;
	top: -110px;
	position: relative;
}

.slider-item {
	margin: 0;
	padding: 0;
	display: none;
	min-height: 510px;
}

.slide1-img {
	width: 400px;
	margin-left: 70px;
}

.slide2-img {
	width: 400px;
	margin-left: 70px;
}

.slide3-img {
	width: 540px;
}

.long-stick {
	width: 384px;
	height: 486px;
	padding-left: 20px;
}

.fitness-bracelet {
	width: 345px;
	height: 485px;
	padding-left: 40px;
	padding-top: 16px;
	padding-right: 10px;
}

.quadrupter {
	width: 526px;
	height: 334px;
	margin-left: 0;
	padding: 0;
	padding-left: 20px;
}

.slider-item .quadrupter {
	margin-left: 15px;
	margin-top: 65px;
}

.slide1-content {
	width: 500px;
	padding-top: 81px;
	margin-left: 129px;
	position: relative;
	z-index: 1;
}

.slide2-content {
	width: 500px;
	padding-top: 81px;
	margin-left: 129px;
	position: relative;
	z-index: 1;
}

.slide3-content {
	width: 500px;
	padding-top: 81px;
	margin-left: 129px;
	position: relative;
	z-index: 1;
}

.slide1::before,
.slide2::before,
.slide3::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	background-color: #fff;
	top: 38px;
	left: 0;
}

.slide3 {
	-ms-flex-preferred-size: 520px;
		flex-basis: 520px;
	margin-left: 55px;
	
}

.slide1::after {
	content: "01";
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 179.2px;
	line-height: 179.2px;
	color: #fff;
	width: 166px;
	height: 203px;
	position: absolute;
	top: -11px;
	right: 1px;
}

.slide2::after {
	content: "02";
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 179.2px;
	line-height: 179.2px;
	color: #fff;
	width: 166px;
	height: 203px;
	position: absolute;
	top: -11px;
	right: 30px;
}

.slide3::after {
	content: "03";
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	font-size: 179.2px;
	line-height: 179.2px;
	color: #fff;
	width: 166px;
	height: 203px;
	position: absolute;
	top: -12px;
	right: 45px;
	z-index: -1;
}

.slide1 p {
	margin: 0;
	padding-top: 18px;
	padding-bottom: 43px;
	letter-spacing: 0.2px;
}

.slide2 p {
	margin: 0;
	padding-top: 18px;
	padding-bottom: 43px;
	letter-spacing: 0.2px;
}

.slide3 p {
	margin: 0;
	padding-top: 17px;
	padding-bottom: 44px;
	letter-spacing: 0.2px;
}

.slide3 .product {
	margin-top: 40px;
}

.popular-items {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.popular-item {
	width: 160px;
}

.slider-middle {
	margin: 0;
	padding: 0;
	min-height: 288px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 860px;
		flex-basis: 860px;
}

.slider-middle ul {
	margin: 0;
	padding: 0;
}

.slider-services {
	-ms-flex-preferred-size: 280px;
		flex-basis: 280px;
	padding-top: 73px;
	position: relative;
	top: -100px;
}

.slider-services::after {
	content: "";
	position: absolute;
	width: 7px;
	height: 319px;
	background-color: #000;
	top: 0;
	right: -5px;
}

.slider-services ul {
	margin: 0;
	padding: 0;
}

.slider-item-services {
	-ms-flex-preferred-size: 460px;
		flex-basis: 460px;
	margin-left: 120px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding-right: 35px;
	position: relative;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.logotypes {
	margin-bottom: 7px;
}

.logotypes ul {
	margin: 0;
	padding: 0;
}

.logo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-ms-flex-pack: distribute;
		-webkit-box-pack: justify;
			justify-content: space-between;
}

.contacts-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding-top: 90px;
	padding-bottom: 78px;
}

.about-us {
	width: 475px;
	position: relative;
}

.about-us ul {
	padding: 0;
	margin: 0;
	margin-top: 65px;
	padding-left: 20px;
	list-style: circle;
	padding-bottom: 54px;
}

.about-list li {
	padding-left: 15px;
	color: rgba(0, 0, 0, 0.3);
}

.about-list span {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	line-height: 40px;
}

.about-us p,
.about-us h2,
.contacts h2,
.contacts p {
	letter-spacing: 0;
}

.about-us h2,
.contacts h2 {
	padding-bottom: 11px;
}

.contacts p {
	margin-bottom: 28px;
}

.about-us p {
	margin-bottom: 31px;
}

.about-us a {
	width: 265px;
	padding-left: 23px;
	padding-bottom: 2px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.contacts .js-write-us {
	width: 260px;
	padding-left: 41px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.contacts {
	width: 560px;
	position: relative;
}

.static-map img {
	min-width: 560px;
	min-height: 222px;
	margin-top: 10px;
	margin-bottom: 60px;
	cursor: pointer;
}

.static-map::before {
	content: none;
	margin: 0;
	padding: 0;
}

.footer-top,
.footer-top-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding: 22px 0 9px;
	-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
}

.footer-top ul {
	margin: 0;
	padding: 0;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
	justify-content: flex-end;
}

.footer-top-inner ul {
	margin: 0;
	padding: 0;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
	justify-content: flex-start;
}

.footer-login-main,
.footer-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 480px;
}

.footer-login-main li:first-child {
	margin-right: 44px;
	position: relative;
	padding-left: 27px;
}

.footer-login-main li:nth-child(2) {
	margin-right: 41px;
	position: relative;
	padding-left: 20px;
}

.footer-login-main li:last-child {
	margin-right: 0;
	position: relative;
	padding-left: 24px;
}

.footer-inner li:first-child {
	-ms-flex-preferred-size: 180px;
		flex-basis: 180px;
	padding-left: 29px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
}

.footer-inner li:nth-child(2) {
	-ms-flex-preferred-size: 88px;
		flex-basis: 88px;
	padding-right: 44px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box; 
	opacity: 0.3;
	position: relative;
}

.footer-inner li:nth-child(3) {
	-ms-flex-preferred-size: 104px;
		flex-basis: 104px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
}

.footer-inner li:last-child {
	-ms-flex-preferred-size: 100px;
		flex-basis: 100px;
	padding-left: 42px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
	margin-left: 5px;
}

.footer-main-menu ul {
	margin: 0;
	padding: 0;
}

.footer-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding-bottom: 45px;
}

.footer-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.footer-navigation li {
	padding-right: 30px;
	padding-top: 3px;
}

.footer-bottom-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	padding-bottom: 67px;
	position: relative;
}

.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	width: 100%;
	position: relative;
}

.footer-bottom ul {
	margin: 0;
	padding: 0;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	width: 1030px;
	padding-right: 435px;
	padding-left: 505px;
}

.footer-social {
	-ms-flex-preferred-size: 160px;
		flex-basis: 160px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
			-webkit-box-pack: center;
				-ms-flex-pack: center;
					justify-content: center;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding-right: 7px;
}

.social-btn {
	width: 32px;
	height: 32px;
	margin-right: 23px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.page-title {
	margin: 0;
	padding: 0;
}

.inner-header {
	padding-top: 16px;
	margin-bottom: 40px;
}

.page-menu {
	padding-left: 60px;
	padding-bottom: 30px;
}

.page-menu ul {
	margin-left: 0;
	padding: 0;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.breadcrumbs li {
	padding-right: 40px;
}

.filter-options fieldset,
.filter-color ul,
.filter-bluetooth ul {
	margin: 0;
	padding: 0;
	letter-spacing: 0;
}

.filter-options {
	padding-top: 85px;
}

.filter-color legend {
	padding-top: 45px;
	padding-bottom: 16px;
}

.filter-bluetooth legend {
	padding-top: 45px;
	padding-bottom: 16px;
}

.monopod-item-filter {
	width: 100%;
	background: -webkit-gradient(linear, left top, right top, color-stop(50%, #dbdbdb), color-stop(50%, #ebebeb));
	background: -webkit-linear-gradient(left, #dbdbdb 50%, #ebebeb 50%);
	background: -o-linear-gradient(left, #dbdbdb 50%, #ebebeb 50%);
	background: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.filter-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filter-title,
.filters {
	-ms-flex-preferred-size: 328px;
		flex-basis: 328px;
	padding-left: 60px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.filter-title {
	background-color: #dbdbdb;
}

.filter-title h3 {
	letter-spacing: 3px;
	padding: 6px 0;
}

.filters {
	background-color: #ebebeb;
}

.monopod-item-sorting {
	-ms-flex-preferred-size: 832px;
		flex-basis: 832px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding-left: 72px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #ebebeb;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.monopod-item-sorting h3 {
	letter-spacing: 4px;
}

.sorting-title {
	width: 160px;
}

.monopod-item-sorting ul {
	margin: 0;
	padding: 0;
}

.sorting {
	-ms-flex-preferred-size: 460px;
		flex-basis: 460px;
}

.sorting li {
	display: inline;
}

.sorting-item:first-child {
	-ms-flex-preferred-size: 60px;
		flex-basis: 60px;
}

.sorting-item:nth-child(2) {
	-ms-flex-preferred-size: 80px;
		flex-basis: 80px;
	margin-left: 20px;
	padding-left: 5px;
	padding-right: 22px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.sorting-item:last-child {
	-ms-flex-preferred-size: 140px;
		flex-basis: 140px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.filter-btn {
	margin-top: 30px;
	width: 200px;
}

.ascending-descendingly {
	-ms-flex-preferred-size: 60px;
		flex-basis: 60px;
	position: relative;
}

.ascending-descendingly li {
	display: inline;
}

.filters-monopod {
	background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #fff));
	background: -webkit-linear-gradient(left, #ebebeb 50%, #fff 50%);
	background: -o-linear-gradient(left, #ebebeb 50%, #fff 50%);
	background: linear-gradient(to right, #ebebeb 50%, #fff 50%);
}

.filter-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.monopod-item ul {
	margin: 0;
	padding: 0;
}

.monopod-item {
	-ms-flex-preferred-size: 832px;
		flex-basis: 832px;
	padding-left: 72px;
	padding-bottom: 74px;
	padding-top: 72px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.catalog-list ul {
	margin: 0;
	padding: 0;
}

.catalog-item {
	width: 360px;
	margin-bottom: 47px;
}

.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
	margin-bottom: 30px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.paginator-list ul {
	margin: 0;
	padding: 0;
}

.paginator-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-ms-flex-preferred-size: 760px;
		flex-basis: 760px;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin: 0;
}

.paginator-list a {
	margin: 0;
	padding-top: 27px;
	padding-bottom: 24px;
}

.paginator-list-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-ms-flex-preferred-size: 500px;
		flex-basis: 500px;
}

.paginator-list-page a {
	padding: 0;
}

.paginator-list-page li:first-child {
	-ms-flex-preferred-size: 10px;
		flex-basis: 10px;
	margin-left: 30px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.paginator-list-page li:nth-child(2) {
	-ms-flex-preferred-size: 10px;
		flex-basis: 10px;
	margin-left: 30px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.paginator-list-page li:last-child {
	-ms-flex-preferred-size: 10px;
		flex-basis: 10px;
	margin-left: 30px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.paginator-item-prev {
	padding-left: 30px;
	padding-right: 25px;
	-ms-flex-preferred-size: 100px;
		flex-basis: 100px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	letter-spacing: 4px;
}

.paginator-item-next {
	-ms-flex-preferred-size: 140px;
		flex-basis: 140px;
	padding-left: 45px;
	padding-right: 25px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	letter-spacing: 4px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
}

/*Декоративные элементы index*/

/*Иконка поиска*/

.search-icon {
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 5px 7px;
}

/*Иконка перед кнопкой "Войти"*/

.header-login-compare li:first-child::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 1px;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-compare li:first-child:hover::before {
	opacity: 0.6;
}

.header-login-compare li:first-child:active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Сравнить"*/

.header-login-compare li:nth-child(2)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	left: 7px;
	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-compare li:nth-child(2):hover::before {
	opacity: 0.5;
}

.header-login-compare li:nth-child(2):active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Корзина*/

.header-login-compare li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 17px;
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-compare li:last-child:hover::before {
	opacity: 0.8;
}

.header-login-compare li:last-child:active::before {
	opacity: 0.3;
}

/*Иконки для блока "Популярные товары"*/

.vr,
.selfie,
.cameras,
.bracelets,
.clock,
.quadrupters {
	position: relative;
	padding-bottom: 15px;
}

.vr::before {
	content: "";
	width: 97px;
	height: 95px;
	position: absolute;
	top: 53px;
	left: 32px;
	background-image: url("../img/popular-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.selfie::before {
	content: "";
	width: 86px;
	height: 117px;
	position: absolute;
	top: 43px;
	left: 39px;
	background-image: url("../img/popular-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cameras::before {
	content: "";
	width: 71px;
	height: 87px;
	position: absolute;
	top: 38px;
	left: 49px;
	background-image: url("../img/popular-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.bracelets::before {
	content: "";
	width: 107px;
	height: 65px;
	position: absolute;
	top: 50px;
	left: 28px;
	background-image: url("../img/popular-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.clock::before {
	content: "";
	width: 56px;
	height: 98px;
	position: absolute;
	top: 32px;
	left: 55px;
	background-image: url("../img/popular-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.quadrupters::before {
	content: "";
	width: 132px;
	height: 69px;
	position: absolute;
	top: 49px;
	left: 13px;
	background-image: url("../img/popular-6.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.vr:active::before,
.selfie:active::before,
.cameras:active::before,
.bracelets:active::before,
.clock:active::before,
.quadrupters:active::before {
	opacity: 0.3;
}

/*Иконки после слайдов в разделе "Сервисы"*/

.services-slider-item {
	position: relative;
	display: none;
	top: -98px;
}

.services-slider-item:first-child::after {
	content: "";
	width: 137px;
	height: 164px;
	position: absolute;
	top: 83px;
	left: 557px;
	background-image: url("../img/delivery.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.services-slider-item:nth-child(2)::after {
	content: "";
	width: 172px;
	height: 196px;
	position: absolute;
	top: 60px;
	left: 543px;
	background-image: url("../img/warranty.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.services-slider-item:last-child::after {
	content: "";
	width: 156px;
	height: 188px;
	position: absolute;
	top: 60px;
	left: 535px;
	background-image: url("../img/credit.svg");
	background-repeat: no-repeat;
	background-position: center;
}

/*Горизонтальные линии перед блоком "О нас" и "Контакты"*/

.about-us::before {
	content: "";
	width: 80px;
	height: 7px;
	top: -15px;
	position: absolute;
	background-color: black;
}

.contacts::before {
	content: "";
	width: 80px;
	height: 7px;
	top: -15px;
	position: absolute;
	background-color: black;
}

/*Иконка перед кнопкой "Войти" в футере*/

.footer-login-main li:first-child::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/user-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-login-main li:first-child:hover::before {
	opacity: 0.6;
}

.footer-login-main li:first-child:active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Сравнить" в футере*/

.footer-login-main li:nth-child(2)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/compare-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-login-main li:nth-child(2):hover::before {
	opacity: 0.5;
}

.footer-login-main li:nth-child(2):active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Корзина" в футере*/

.footer-login-main li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/cart-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-login-main li:last-child:hover::before {
	opacity: 0.8;
}

.footer-login-main li:last-child:active::before {
	opacity: 0.3;
}

/*Логотип HTML академии*/
.htmlacademy-logo {
	padding-left: 20px;
	position: relative;
	width: 47px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.htmlacademy-logo::before {
	content: "";
	width: 27px;
	height: 34px;
	position: absolute;
	top: 2px;
	right: 0;
	background-image: url("../img/logo-html.svg");
	background-position: 0 0;
}

.htmlacademy-logo:hover::before {
	opacity: 0.6;
}

.htmlacademy-logo:active::before {
	opacity: 0.3;
}

/*Иконки социальных сетей*/

.social-fb {
	position: relative;
}

.social-in {
	position: relative;
}

.social-tw {
	position: relative;
}

.social-fb::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.social-in::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.social-tw::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.social-fb:hover::before,
.social-in:hover::before,
.social-tw:hover::before {
	opacity: 0.6;
}

.social-fb:active::before,
.social-in:active::before,
.social-tw:active::before {
	opacity: 0.1;
}

.footer-bottom-container::before {
	content: "";
	width: 80px;
	height: 7px;
	position: absolute;
	background-color: #ffc600;
	top: 17px;
	left: 0;
}

/*Slider-top*/

.hidden-radio {
	display: none;
}

.slider-switch {
	position: absolute;
	bottom: 170px;
	right: 82px;
	z-index: 20;
	width: 78px;
	height: 12px;
	font-size: 0;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.slider-switch label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	margin-right: 20px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.slider-switch label:last-child {
	margin-right: 0;
}

.main-slider-1:checked ~ .slider .slider-item:nth-child(3) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-slider-2:checked ~ .slider .slider-item:nth-child(4) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-slider-3:checked ~ .slider .slider-item:nth-child(5) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-slider-1:checked ~ .slider .slider-switch .slider-switch-1::after,
.main-slider-2:checked ~ .slider .slider-switch .slider-switch-2::after,
.main-slider-3:checked ~ .slider .slider-switch .slider-switch-3::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 10;
	width: 2px;
	height: 2px;
	border: 2px solid #000;
	border-radius: 50%;
}

/*Декоративные элементы catalog*/

/*Иконка перед кнопкой "Войти"*/

.header-login-link::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 1px;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-link:hover::before {
	opacity: 0.6;
}

.header-login-link:active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Сравнить"*/

.header-login-inner li:nth-child(3)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	left: 7px;
	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-inner li:nth-child(3):hover::before {
	opacity: 0.5;
}

.header-login-inner li:nth-child(3):active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Корзина*/

.header-login-inner li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 17px;
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-inner li:last-child:hover::before {
	opacity: 0.8;
}

.header-login-inner li:last-child:active::before {
	opacity: 0.3;
}

/*Иконки в "теекущем" меню*/

.breadcrumbs li:first-child {
	position: relative;
}

.breadcrumbs li:first-child::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 7px;
	top: 13px;
	right: 20px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:nth-child(2) {
	position: relative;
}

.breadcrumbs li:nth-child(2)::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 7px;
	top: 13px;
	right: 20px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.up-sort{
	content: "";
	position: absolute;
	width: 10px;
	height: 11px;
	top: -7px;
	left: 19px;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.2;
}

.up-sort:hover {
	opacity: 0.4;
}

.up-sort:active {
	opacity: 1;
}

.down-sort{
	content: "";
	position: absolute;
	width: 10px;
	height: 11px;
	top: -7px;
	right: 0;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Горизонтальные линии в фильтрах*/
/*Горизонтальная линия перед "стоимость"*/

.filter-price legend {
	position: relative;
}

.filter-price legend::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	top: -13px;
	left: -1px;
	background-color: #000;
}

/*Горизонтальная линия перед "Цвет"*/

.filter-color legend {
	position: relative;
}

.filter-color legend::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	top: 31px;
	left: -1px;
	background-color: #000;
}

/*Горизонтальная линия перед "Bluetooth"*/

.filter-bluetooth legend {
	position: relative;
}

.filter-bluetooth legend::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	top: 31px;
	left: -1px;
	background-color: #000;
}

/*Кнопки при наведении на карточку товара*/

.hover-img {
	position: relative;
}

.hover-btn {
	position: absolute;
	top: 0;
	left: 0;
	height: 380px;
	width: 360px;
	padding-top: 155px;
	padding-left: 80px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	background-color: rgba(238, 238, 238, 0.7);
	cursor: pointer;
	display: none;
}

.catalog-item-hover .btn {
	width: 200px;
	padding-left: 36px;
	padding-right: 40px;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	letter-spacing: 2px;
}

.catalog-item-compare {
	width: 200px;
	padding-right: 21px;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box; 
	letter-spacing: 0;
}

.hover-img:hover .hover-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*Стилизация checkbox у фильтра по цвету*/

.filter-checkbox {
	position: relative;
	padding-left: 38px;
}

.filter-checkbox .filter-input + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox .filter-input:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin solid;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox .filter-input:checked + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox .filter-input:hover + .checkbox-indicator,
.filter-checkbox .filter-input:checked:hover + .checkbox-indicator {
	opacity: 0.6;
}

.filter-checkbox .filter-input:active + .checkbox-indicator,
.filter-checkbox .filter-input:checked:active + .checkbox-indicator {
	opacity: 1;
}

.filter-checkbox .filter-input:disabled + .checkbox-indicator,
.filter-checkbox .filter-input:checked:disabled + .checkbox-indicator,
.filter-checkbox .filter-input:disabled ~ .color-disabled {
	opacity: 0.25;
}

/*Стилизация radio у фильтра bluetooth*/

.filter-radio {
	position: relative;
	padding-left: 38px;
}

.filter-radio .filter-input + .radio-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-radio .filter-input:focus + .radio-indicator {
	border-color: #663d15;
	outline: thin solid;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-radio .filter-input:checked + .radio-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-radio .filter-input:hover + .radio-indicator,
.filter-radio .filter-input:checked:hover + .radio-indicator {
	opacity: 0.6;
}

.filter-radio .filter-input:active + .radio-indicator,
.filter-radio .filter-input:checked:active + .radio-indicator {
	opacity: 1;
}

.filter-radio .filter-input:disabled + .radio-indicator,
.filter-radio .filter-input:checked:disabled + .radio-indicator,
.filter-radio .filter-input:disabled ~ .bluetooth-disabled {
	opacity: 0.25;
}

/*Иконка в футере у пользователь*/

.login-link::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/user-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-link:hover::before {
	opacity: 0.6;
}

.login-link:active::before {
	opacity: 0.3;
}

/*Иконка в футере у меню "Сравнить"*/

.footer-inner li:nth-child(3)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/compare-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-inner li:nth-child(2):hover::before {
	opacity: 0.5;
}

.footer-inner li:nth-child(2):active::before {
	opacity: 0.3;
}

/*Иконка в футере у меню "Корзина"*/

.footer-inner li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 18px;
	background-image: url("../img/cart-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-inner li:last-child:hover::before {
	opacity: 0.8;
}

.footer-inner li:last-child:active::before {
	opacity: 0.3;
}

/*Кнопка закрытия у блока "Напишите нам"*/

.feedback-close-btn {
	content: "";
	position: absolute;
	width: 55px;
	height: 55px;
	top: 22px;
	right: 22px;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.feedback-close-btn:hover {
	opacity: 1;
}

.feedback-close-btn:active {
	opacity: 0.3;
}

/*Кнопка закрытия у интерактивной карты*/

.map-close-btn {
	content: "";
	position: absolute;
	width: 55px;
	height: 55px;
	top: 22px;
	right: 22px;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.map-close-btn:hover {
	opacity: 1;
}

.map-close-btn:active {
	opacity: 0.3;
}

/*Скролл-бар в каталоге в стоимости*/

.price-bar {
	width: 195px;
	margin-top: 35px;
	margin-bottom: 5px;
	padding-left: 5px;
	position: relative;
}

.price-bar .full-bar {
	height: 2px;
	background-color: #dbdbdb;
}

.choosen-bar {
	width: 110px;
	height: 2px;
	background-color: #91c92f;
}

.bar-radio-min {
	position: absolute;
	top: -10px;
	left: -6px;
	width: 20px;
	height: 22px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.bar-radio-min:active,
.bar-radio-max:active {
	width: 26px;
	height: 26px;
} 

.bar-radio-max {
	position: absolute;
	top: -10px;
	left: 108px;
	width: 20px;
	height: 22px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.price-value {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: lighter;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.2);
}

.price-value:first-child {
	width: 40px;
	margin-left: -10px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.price-value:last-child {
	width: 111px;
	margin-left: 59px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

/*js*/

@-webkit-keyframes visually {
	0%	{opacity: 0;}
	10%	{opacity: 0.1;}
	20%	{opacity: 0.2;}
	30%	{opacity: 0.3;}
	40%	{opacity: 0.4;}
	50%	{opacity: 0.5;}
	60%	{opacity: 0.6;}
	70%	{opacity: 0.7;}
	80%	{opacity: 0.8;}
	90%	{opacity: 0.9;}
	100%	{opacity: 1;}
}

@keyframes visually {
	0%	{opacity: 0;}
	10%	{opacity: 0.1;}
	20%	{opacity: 0.2;}
	30%	{opacity: 0.3;}
	40%	{opacity: 0.4;}
	50%	{opacity: 0.5;}
	60%	{opacity: 0.6;}
	70%	{opacity: 0.7;}
	80%	{opacity: 0.8;}
	90%	{opacity: 0.9;}
	100%	{opacity: 1;}
}

.feedback-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation-name: visually;
			animation-name: visually;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
}

.map-show {
	display: block;
	-webkit-animation-name: visually;
			animation-name: visually;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
}

@-webkit-keyframes data-error {
	0%,
	100% {
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate(-50%, -51%);
			-ms-transform: translate(-50%, -51%);
				transform: translate(-50%, -51%);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate(-50%, -49%);
			-ms-transform: translate(-50%, -49%);
				transform: translate(-50%, -49%);
	}
}

@keyframes data-error {
	0%,
	100% {
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate(-50%, -51%);
			-ms-transform: translate(-50%, -51%);
				transform: translate(-50%, -51%);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate(-50%, -49%);
			-ms-transform: translate(-50%, -49%);
				transform: translate(-50%, -49%);
	}
}

.feedback-error {
	-webkit-animation-name: data-error;
			animation-name: data-error;
	-webkit-animation-direction: 0.7s;
			animation-direction: 0.7s;
}

/*Слайдер js*/

.js-show-slide {
	display: block;
}